@media(max-width: 976px) {
    .cards {
        flex-direction: column;
    }

    .footer__content {
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
        padding: 0 50px;
    }

    .footer__nav {
        max-width: 600px;
        margin: 0 auto;
        max-height: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 50px;
        justify-content: space-around;
    }

    .footer__form {
        max-width: 100%;
    }

    .footer__socials {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@media(max-width: 876px) {
    .nav__list {
        transform: translateX(100%);
        transition: 0.3s;
    }

    .nav__btn {
        display: inline-block;
        font-size: 32px;
        color: #fff;
        cursor: pointer;
        position: relative;
        z-index: 9;
    }

    .nav__list {
        position: fixed;
        background: rgba(0, 0, 0, 0.9);
        height: 100vh;
        width: 300px;
        top: 0;
        right: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav__link {
        min-width: 150px;
        display: inline-block;
    }
}
@media(max-width:576px) {
    .cards__row {
        flex-direction: column;

    }

    .cards__item {
        padding: 30px 0;
    }
}

@media(max-width:376px) {
    .nav__list {
        width: 100%;
    }
}